{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}

  <article class="flex-l flex-wrap justify-between mw8 center ph3 ph4-m post-content">

  <div class="mt4 w-100">
    <nav class="f6 mv3 w-100">
      <span class="gray">Home</span>
      <span class="mh1">/</span>
      <a href="/blog/" class="link" style="color: #008080;">Blog</a>
    </nav>
    <header class="f6 mv4 dib tracked">
      <p class="f6 gray mv0">
        {{ .Date.Format "January 2, 2006" }}
        {{ with .ReadingTime }} &mdash; {{ . }} min read {{ end }}
      </p>
    </header>
  </div>
  <!-- Main Content -->
  <div class="nested-copy-line-height lh-solid {{ $.Param "post_content_classes" | default "serif" }} f4-5-l f5-m nested-links {{ $.Param "text_color" | default "dark-gray" }} w-100 pr4-l">
    {{- .Content -}}

    <!-- Taxonomy Tags Section -->
    <p class="tag-link mt5">
      <strong>{{ .Site.Params.tags }}:</strong>
      {{ $baseLangURL := "/blogs/" }}
      {{ if eq .Site.LanguageCode "ua" }}
      {{ $baseLangURL = "/ua/blogs/" }}
      {{ end }}
      {{ range .Params.blogs }}
      <a href="{{ $baseLangURL | relURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </p>

    {{- partial "tags.html" . -}}

    <div class="mt6 instapaper_ignoref">
      {{ if .Site.DisqusShortname }}
      {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
      {{- partial "commento.html" . -}}
      {{ end }}
    </div>
  </div>
</article>
{{ end }}
