{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article>
  <div class="db pv4 ph0 no-underline dark-gray bg-shadow-post">
    <div class="flex flex-column flex-row-l flex-row-m">
      
      <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3 pr0-ns" }} w-100-ns w-40">
        {{ if .Params.summary_image }}
        <a href="{{.RelPermalink}}" class="db grow w-100">
          {{ partial "image-srcset.html" . }}
        </a>
        {{ else }}
          {{ if $featured_image }}
          <a href="{{.RelPermalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
          {{ end }}
        {{ end }}

        
        {{ if not .Date.IsZero }}
          <time class="f6 mv3 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
            {{ .Params.date_prefix }}  {{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
          </time>
        {{end}}

        
        <p class="tag-link">
          <strong>{{ .Site.Params.tags }}:</strong>
          {{ $baseLangURL := "/blogs/" }}
          {{ if eq .Site.LanguageCode "ua" }}
          {{ $baseLangURL = "/ua/blogs/" }}
          {{ end }}
          {{ range .Params.blogs }}
          <a href="{{ $baseLangURL | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </p>

      </div>

      
      <div class="blah pt3-ns w-100-ns {{ if $featured_image }} w-60 {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr3" "pl3-l pl2-ns" }}{{ end }}">
        <h2 class="tc f3 f4-m fw1 athelas mt0 mb0-m lh-title text-bold color-link" style="color:{{ $.Param "middle_title_color_code" | default "#555555" }};" >
          <a href="{{.RelPermalink}}" class="">
            {{ .Title }}
            </a>
        </h2>
        
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.RelPermalink}}" class="ba white br2 dib f7 hover-bg-moon-gray link mt2 ph3 pv1 button-read-more" style="background-color:{{ $.Param "middle_title_color_code" | default "#555555" }};">{{ .Site.Params.read_more_button | default (i18n "readMore") }} &rarr;</a>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>