<script defer src="{{ "/js/scrolling.js" | urlize | relURL }}"></script>
<script defer src="{{ "/js/navigation.js" | urlize | relURL }}"></script>
<style>
    :root {
        --site-color: {{ $.Param "middle_title_color_code" }};
    }
    .image-header {
        position: fixed;
        top: 0;
        width: 100%;
        /* background: url("{{ .Site.Params.header_image_line }}") left; */
        background-color: rgba(40, 52, 52, 0.5) ;
        /* backdrop-filter: blur(24px); */
        box-shadow: 0 4px 10px rgba(0, 128, 128, 0.5);
        z-index: 97;
    }
</style>