{{ if .Site.IsMultiLingual }}
<ul class="b--white-90 language-block pl0 mr3">
    {{ range .Site.Home.Translations }}
    <li class="list tc f5 f4-ns fw4 dib pl2 pr3">
        <a class="hover-white no-underline white-90 dark-gray-ns language_icon" href="{{ .Permalink }}">
            {{ if eq .Lang "ua" }}
                <img src="/general-images/language_ukraine.png" alt="ua" style="height: 1.2em; vertical-align: middle; border-radius: .2rem;">
            {{ else if eq .Lang "en" }}
                <img src="/general-images/language_english.png" alt="en" style="height: 1.2em; vertical-align: middle; border-radius: .2rem;">
            {{ else }}
                {{ .Lang }} {{ end }}
        </a>
    </li>
    {{ end }}
    {{ if not .IsTranslated }}
    <li class="list tc f5 f4-ns fw4 dib pl2 pr3">
        <a class="hover-white no-underline white-90 dark-gray-ns language_icon" href="{{ .Permalink }}">
            {{ if eq .Lang "ua" }}
                <img src="/general-images/language_ukraine.png" alt="ua" style="height: 1.2em; vertical-align: middle; border-radius: .2rem;">
            {{ else if eq .Lang "en" }}
                <img src="/general-images/language_english.png" alt="en" style="height: 1.2em; vertical-align: middle; border-radius: .2rem;">
            {{ else }}
                {{ .Lang }}
            {{ end }}
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}